@model RestApi.Controllers.ProvisioningController.IndexModel

@{
    ViewBag.Title = "Bouvet Battle Royale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lagoppstilling</h2>

@if (Model.HarMelding)
{
    if (Model.ErFeilmelding)
    {
        <div style="color: red">@Model.Melding</div>
    }
    else
    {
        <div style="color: green">@Model.Melding</div>
    }
}

<ul>
    @if (Model.TillatNyttLag)
    {
        <li>
            @Html.ActionLink("Registrer nytt lag", "NyttLag", "Provisioning", new { id = Model.MatchId }, null)
        </li>
    }

    @if (Model.TillatNySpiller)
    {
        <li>
            @Html.ActionLink("Registrer ny deltaker", "NySpiller", "Provisioning")
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.KlientUrl))
    {
        <li>
            <a href="@Model.KlientUrl">Start spillet</a>
        </li>
    }
</ul>